@import 'variables';

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $font-color;
    font-family: $main-font;
    font-size: 15px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

span.error {
    display: none;
}

input.error {
    border: 2px solid red;
}

.error:not(input) {
    color: red;
}

.active-header {
    color: $main-color !important;
    border-bottom: 3px solid $main-color !important;
    padding-bottom: 1em;
}

.active-schedule-cart {
    background-color: $main-color !important;
    color: #fff !important;
    position: relative;

    &::before {
        content: '▶';
        transform: translateX(180deg);
        color: $main-color;
        position: absolute;
        top: 29%;
        font-size: 2em;
        right: 0;
        left: 99%;
    }
}


.scrolled-nav {
    background-color: $nav-color;
}

section {
    padding: 10em 0 0 0;
}

.button:not([href="#book-a-seat"]) {
    background-color: $main-color;
    color: #fff;
    border-radius: 5px;
    padding: 1em 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

[href='#book-a-seat'] {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: .5em 1.5em .5em .5em;
    transition: 1s;

    i {
        display: inline-block;
        padding: .5em 1em;
        background-color: $main-color;
        border-radius: 5px;
        margin: .5em;
    }

    &:hover {
        color: $main-color;
        background-color: #fff;

        i {
            background-color: transparent;
            color: $main-color;
        }
    }
}

.main-navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    padding: .75em 0;
    z-index: 1000;

    .brand {
        flex-basis: 20%;
    }

    .main-nav {
        .main-nav-item {
            display: inline-block;
            list-style: none;
            margin: 0 1em;

            a:not([href='#book-a-seat']) {
                color: #fff;

                &::before {
                    content: '.';
                }
            }
        }
    }
}

header {
    background-image: url(../img/header_backgroud.jpg);
    @include background-properties;
    padding: 10em 0em 5em 0em;
    color: #fff;
    position: relative;

    h2 {
        display: inline-block;
        margin: 2em 2em 0em 2em;
    }

    h1 {
        margin: 2em 0em 1em 0em;
        font-size: 4.5em;
    }

    h3 {
        font-size: 2em;
        font-weight: 200;
    }

    .fa-play-circle {
        display: inline-block;
        font-size: 5em;
        margin-top: 2em;
        transition: 2s;

        &:hover {
            transform: rotate3d(2, 2, 2, 360deg);
        }
    }

    a {
        display: block;
        font-size: 2em;
        font-weight: 600;
        color: #fff;
        margin-bottom: 4em;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        align-self: center;
        bottom: -4em;
        z-index: 998;

        .button {
            flex-basis: 15%;
            margin: 0 1em;
            padding-top: 1em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            transition: 1.5s;

            &:hover {
                i {
                    color: $main-font;
                    transform: scale(1.5);
                }
            }

            i {
                display: inline-block;
                font-size: 1.4em;
                margin-right: 1em;
                font-weight: 800;
                height: 2.8em;
                padding: 15px 0px;
                transition: 1.5s;

                &::after {
                    content: ' / ';
                    margin: 0 15px;
                    font-size: 1em;
                }
            }

            h3 {

                font-size: 1em;
                text-align: left;
                margin-top: .5em;

                span {
                    font-weight: 800;
                    margin-bottom: .5em;
                }
            }
        }
    }
}


.about-event {
    h2 {
        display: inline-block;
        width: 48%;
        padding-bottom: 1em;
        border-bottom: 3px solid $light-gray;
        color: $light-gray;
        font-size: 1.3em;
        cursor: pointer;
    }

    ul {
        margin: 2em 0em;
        padding: 0 3em 0 0;

        li {
            list-style: none;
            margin: 3em 0em;
            font-size: 1em;
            transition: 1.5s;

            &:hover {
                i {
                    border-radius: 50%;

                }

                span {
                    color: $main-color;
                }

            }

            i {
                display: inline-block;
                height: 3em;
                width: 3em;
                border: 2px solid $font-color;
                padding: 1em;
                font-size: 1.5em;
                margin-right: 1em;
                transition: 1s;

                &:hover {
                    background-color: $main-color;
                    border: none;
                    color: #fff;
                }
            }

            span {
                font-size: 2em;
                font-weight: 600;
            }

            p {
                text-align: right;
            }
        }
    }

    ul:first-of-type {
        display: none;
    }
}

.speakers {
    border-top: 1px solid $light-gray;

    h3 {
        color: $main-color;
        font-weight: 200;
        font-size: 1.4em;
        word-spacing: 200%;
    }

    h2 {
        font-size: 1.8em;
        text-transform: uppercase;
        margin-top: .3em;
        margin-bottom: 3em;
    }

    .speaker-id {
        border: 1px solid $light-gray;
        padding: 2em;
        margin-bottom: 2em;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: 1s;

        &:hover {
            border: 1px solid transparentize($color: $light-gray, $amount: 0.7);

            h4 {
                color: $main-color;

                span {
                    color: $main-font;
                }
            }

            &::before {
                border-left: 2px solid $main-color;
                border-right: 2px solid $main-color;
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 25%;
            width: 100%;
            height: 50%;
            border-left: 2px solid $light-gray;
            border-right: 2px solid $light-gray;
            transition: 1.5s;
        }

        img {
            width: 100px;
            height: auto;
            border-radius: 50%;
            flex-basis: 15;
            margin-right: 1em;
        }

        h4 {
            flex-basis: 56%;
            font-size: 18px;
            transition: 1.5s;

            span {
                font-size: 13px;
            }
        }

    }
}

.interested {
    @include background-properties;
    background-image: url(../img/coference_01.jpg);
    color: #fff;
    padding-bottom: 7em;
    margin-top: 3em;

    .interested-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 1140px;

        div {
            margin: 0 2em;

            a:not([href="#book-a-seat"]) {
                color: #fff;
                text-transform: uppercase;
                position: relative;

                &::before {
                    content: '----------------->';
                    color: #fff;
                    opacity: 0.6;
                    width: 100%;
                    transform: translateY(10px);
                    font-size: 1.2em;
                    position: absolute;
                }
            }
        }
    }
}

.event-schedule {
    padding-bottom: 5em;

    .container {
        background-image: url(../img/coference_01.jpg);
        @include background-properties;
    }

    .schedule-cart {
        width: 80%;
        margin: 1em;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;



        h4 {
            color: $light-gray;
            font-size: 15px;

            &:hover {
                color: #fff;
            }
        }

        h3 {
            font-size: 17px;
            color: $light-gray;

            &:hover {
                color: #fff;
            }

        }

        &:hover {
            background-color: $main-color;
            color: #fff;
            text-decoration: none;
        }
    }

    .subject {
        background-color: #fff;
        margin: 1em;
        padding: 3em;

        h5 {
            display: inline-block;
            padding-bottom: .5em;
            font-size: 1.2em;
            font-weight: 700;
            color: $light-gray;
            border-bottom: 2px solid $light-gray;
            padding-left: 1em;
            padding-right: 1em;
            cursor: pointer;
        }

        .inside-subject {
            display: flex;
            flex-direction: row;
            height: 100%;
            margin-top: 2em;

            img {
                margin-right: 1em;
                width: 10em;
                height: auto;
            }

            h4 {
                display: block;
            }
        }

        .inside-subject:not([active='true']) {
            display: none;
        }
    }
}

.modal-visible {
    position: fixed;
    top: 200px;
    display: block;
}

.gallery {
    margin: 0 auto;

    .gallery-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        max-width: 1140px;

        .img-holder {
            flex-basis: 33%;
            position: relative;
            height: 300px;
            background-position: center;
            background-size: cover;
            margin: 0;
            padding: 1em;

            .mask {
                width: 100%;
                height: 100%;
                background-color: $main-color;
                border-radius: 50%;
                border: 1em outset #fff;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;

                &::after {
                    content: '+';
                    font-size: 2em;
                    font-weight: 100;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 25%;
                }

                &:hover {
                    opacity: 0.8;
                    border-radius: 0;
                    border: 10px inset #fff;

                }
            }
        }

        .img-holder:nth-of-type(1) {
            background-image: url(../img/one.jpg);

            .mask {
                &::after {
                    content: 'Additional content about fluffy animal';
                }
            }

        }

        .img-holder:nth-of-type(2) {
            background-image: url(../img/two.jpg);

            .mask {
                &::after {
                    content: 'You should be relaxed when css';
                }
            }

        }

        .img-holder:nth-of-type(3) {
            background-image: url(../img/three.jpg);

            .mask {
                &::after {
                    content: 'Do not worry, css is working well';
                }
            }
        }

        .img-holder:nth-of-type(4) {
            background-image: url(../img/four.jfif);

            .mask {
                &::after {
                    content: 'Be proud of your styles';
                }
            }

        }

        .img-holder:nth-of-type(5) {
            background-image: url(../img/five.jpg);

            .mask {
                &::after {
                    content: 'Smile when dreaming about css';
                }
            }

        }

        .img-holder:nth-of-type(6) {
            background-image: url(../img/six.jpg);

            .mask {
                &::after {
                    content: 'Always be stylish! Always';
                }
            }
        }


    }
}

.book-a-seat {
    .package-cart {
        text-align: center;
        margin-top: 2em;

        header.cart {
            background-image: none;
            height: auto;
            padding: $fixed;

            h3 {
                display: inline-block;
                padding: 1em;
                font-size: 1.5em;
                font-weight: 600;

            }

            h3:first-of-type {
                background-color: $main-color;
                width: 30%;
                margin-right: -5px;
            }

            h3:last-of-type {
                background-color: $font-color;
                width: 70%;
            }
        }

        ul {
            list-style: none;

            li {
                padding: 1.3em;

                [href='#book-a-seat'] {
                    background-color: $font-color;
                    border: none;
                    transition: 1s;

                    &:hover {
                        background-color: $nav-color;
                    }
                }
            }

            li:nth-of-type(2n-1) {
                background-color: $lighter-gray;
            }
        }

    }

    .make-an-order {
        background-image: url(../img/book-a-seat.jpg);
        @include background-properties;
        padding: 3em 0em;

        .order-claim {
            text-align: center;
            margin-bottom: 2em;

            h3,
            p,
            h2 {
                color: white;
            }

            h2 {
                span {
                    color: $main-color;
                    font-weight: 900;
                }
            }
        }

        .form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                justify-items: center;
                justify-content: space-around;
                margin: $fixed;
                flex-basis: 50%;

                input {
                    flex-basis: 25%;
                    margin: 0px 1em;
                    padding: 1em 2em;

                }
            }

            button {
                background-color: $font-color;
                border: none;
                transition: 1s;

                &:hover {
                    background-color: transparent;
                    border-color: white;

                    i {
                        background-color: $font-color;
                    }
                }

                i {
                    display: inline-block;
                    background-color: $main-color;
                    padding: .5em 1em;
                    margin-right: 1em;
                    border-radius: 3px;
                }
            }
        }
    }
}